<table class="table">
  <thead>
    <tr>
      <th scope="col" colspan='5' class='border'><%= "Order##{@order.id}" %></th>
      <td scope="col" colspan='1' class='border'>
        <%= link_to "Destroy", order_path(@order), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      </td>
    </tr>
    <tr>
      <th scope="col" colspan='1' class='border'>Customer Details</th>
      <td scope="col" colspan='5' class='border'><pre><%= @order.customer_details %></pre></td>
    </tr>
    <tr>
      <th scope="col" class='border'>Name</th>
      <th scope="col" class='border'>Price/Item</th>
      <th scope="col" class='border'>Quantity</th>
      <th scope="col" class='border'>Tax %</th>
      <th scope="col" class='border'>Tax Value</th>
      <th scope="col" class='border'>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <th scope="col" class='border'><%= order_item.item.name %></th>
        <td scope="col" class='border'><%= order_item.item.price %></td>
        <td scope="col" class='border'><%= order_item.quantity %></td>
        <td scope="col" class='border'><%= order_item.item.tax_category.tax_rate %></td>
        <td scope="col" class='border'><%= order_item.tax_value %></td>
        <td scope="col" class='border'><%= order_item.total_price %></td>
      </tr>
    <% end %>
    <tr class='border'>
      <th colspan='5' class='border'>Grand Total</th>
      <th colspan='1' class='border'><%= @order.grand_total %></td>
    </tr>
  </tbody>
</table>
