<tr id="<%= dom_id discount %>">
  <th scope="col" class='border'><%= discount.base_item.name %></th>
  <td scope="col" class='border'><%= discount.base_item_quantity %></td>
  <td scope="col" class='border'><%= discount.child_item.name %></td>
  <td scope="col" class='border'><%= discount.child_item_quantity %></td>
  <td scope="col" class='border'><%= discount.discount_percent %></td>
  <td scope="col" class='border'><%= link_to "Show this discount", discount, class: 'btn btn-info' %></td>
</tr>
