<%= form_with(model: discount, html: { class: "row g-3" }) do |form| %>
  <%= render 'shared/errors', object: discount %>

  <div class="col-md-6">
    <%= form.label :base_item_id, class: "form-label" %>
    <%= form.collection_select(:base_item_id, Item.available, 'id', 'name', { prompt: 'Select Item' }, { class: "form-select" }) %>
  </div>

  <div class="col-md-6">
    <%= form.label :base_item_quantity, class: "form-label" %>
    <%= form.number_field :base_item_quantity, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :child_item_id, class: "form-label" %>
    <%= form.collection_select(:child_item_id, Item.available, 'id', 'name', { prompt: 'Select Item' }, { class: "form-select" }) %>
  </div>

  <div class="col-md-6">
    <%= form.label :child_item_quantity, class: "form-label" %>
    <%= form.number_field :child_item_quantity, class: "form-control" %>
  </div>

  <div class="col-md-6">
    <%= form.label :discount_percent, class: "form-label" %>
    <%= form.text_field :discount_percent, class: "form-control" %>
  </div>

  <div class="col-12">
    <%= form.submit "Submit", :class => 'btn btn-primary' %>
  </div>
<% end %>
